body {
  width:100%;
  background-image: url(../bgPic.jpg);
  background-size: 100%;
}

.stage {
  margin: 0 auto;
  height: 400px;
  width: 100%;
  text-align: center;
}

button {
  padding: 40px 80px;
  font-size: 28px;
  position: fixed;
  border-radius: 100%;
  background-color: red;
  margin-top: 30px;
  margin-left: 25%;
  opacity: 1.0;
}

#playWar {
  color: darkorange;
  background-color: gold;
   text-decoration: normal;
  text-align: center;
}

.playWarOff {
  z-index: -99;
}

.playWarOn {
  z-index: 100;
}

#bottomBar {
  background-color: grey;
  position: fixed;
  margin-top: 5%;
  height: 165px;
  width: 100%;
  opacity: 0.85;
}

#playerCardBox{
margin-right: ;
}

.cardBox {
  display: inline-block;
  width: 190px;
  height: 300px;
  background-color: white;
  margin-top: 10px;
}

h1 {
  width: 400px;
  margin: 0 auto;
  padding-bottom: 10px;
  margin-top: 30px;
  padding: 5px;
  background-color: grey;
}

h4 {
  width: 600px;
  margin: 0 auto;
  padding-bottom: 40px;
}

#oppoStackSize{
  display: relative;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

#playerStackSize {
  float: left;
  display: inline-block;
  width:200px;
}

.suitImg{
  height: 80px;
  width: 80px;
  display: inline-block;
}

.valueImg {
  height: 80px;
  width: 80px;
  display: inline-block;
}

#wageredCardList {
  width: 400px;
  height: 90%;
  position: absolute;
  float: left;
  background-color: lightgrey;
}

#wagerHeader {
  padding-bottom: 10px;
  margin: 0 auto;
}

#wagerContainer {
  width: 400px;
  display: block;
  position: absolute;
  height:300px;
  background-color: grey;
  text-align: center;
  padding-top: 10px;
  margin-right:0px;
  margin-top:10px;
}

#playerWagerList {
  width: 140px;
  height: 250px;
  position: static;
  display: inline-block;
  text-align: center;
    padding: 5px;
    padding-right: 15px;
    margin-right: 10px;
  background-color: white;
}

#oppoWagerList {
  width: 140px;
  height: 250px;
  position: static;
  display: inline-block;
  text-align: center;
  padding: 5px;
  padding-left: 15px;
  margin-left: 10px;
  background-color: white;
}

#stackList {
  margin-top: 10px;
  margin-right: 40px;
  width: 25%;
  height: 140px;
  float: right;
  overflow: scroll;
}

#playerSuitImg {
  position: absolute;
  margin-left: -80px;
  margin-top: 10px;
  float: left;
  opacity: 1.0;
}

#oppoSuitImg {
  position: absolute;
  margin-left: 770px;
  margin-top: -285px;
  float: left;
  opacity: 1.0;
}

#playerSuitImg2 {
  position: absolute;
  margin-left: 445px;
  margin-top: -65px;
  float: left;
  opacity: 1.0;
}

#oppoSuitImg2 {
  position: absolute;
  margin-left: 660px;
  margin-top: -65px;
  float: left;
  opacity: 1.0;
}

#playerCardBox {
  margin-left: -200px;
}

#oppoCardBox {
  display: inline-block;
  position: absolute;
  margin-left: 660px;
  margin-top: -285px;
}

#playerValImg {
  margin-left: 0px;
  margin-top: 50%;
  opacity: 1.0;
}

#oppoValImg {
  opacity: 1.0;
  margin-left: 29%;
  margin-top: 55%;

}

.flip-horizontal {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph;
}

@media screen and (max-width: 980px) {
    #bottomBar {
        width: 94%;
    }
    #oppoCardBox {
        width: 120px;
        height: 180px;
    }
    #playerCardBox {
        width: 120px;
        height: 180px;
    }
}

@media screen and (max-width: 700px) {
    #content, #sidebar {
      width: auto;
      float: none;
    }
}

@media screen and (max-width: 480px) {
    #header {
      height: auto;
    }
    h1 {
      font-size: 24px;
    }
    #sidebar {
      display: none;
    }
}

/*  opacity: 0.6;
  cursor: not-allowed;*/
