body {
  width:100%;
  background-image: url(../img/bgPic.jpg);
  background-size: 100%;
  height: 100%;
}

.stage {
  margin: 0 auto;
  height: 400px;
  width: 100%;
  text-align: center;
}

#playBattle {
  color: black;
  text-decoration:
}

button {
  font-weight: bold;
  padding: 40px 80px;
  font-size: 28px;
  position: fixed;
  border-radius: 100%;
  background-color: darkred;
  margin-top: 30px;
  margin-left: 25%;
  opacity: 1.0;
}

#playWar {
  color: darkorange;
  background-color: gold;
   text-decoration: normal;
  text-align: center;
}

.playWarOff {
  z-index: -99;
}

.playWarOn {
  z-index: 100;
}

#bottomBar {
    background-color: grey;
    position: fixed;
    height: 165px;
    width: 100%;
    opacity: 0.95;
    position: absolute;
    margin-top: 85px;
    padding-bottom: 30px;

}

#playerCardBox{
}

.cardBox {
  display: inline-block;
  width: 190px;
  height: 300px;
  background-color: rgba(245, 245, 245, 1);
  margin-top: 10px;
  border-radius: 5%
}

h1 {
  margin-left: 50px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: rgba(100, 0, 0, 0.65);
}

h4 {
  width: 100%;
  margin: 0 auto;
  padding-top:15px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  margin-bottom: 30px;
}

#oppoStackSize{
  display: relative;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

#playerStackSize {
  float: left;
  margin-left: 20px;
  display: inline-block;
  width: 120px;
  height: 100%;
  word-wrap: break-word;
}


li {
  list-style-type: none;
}

.suitImg{
  height: 60px;
  width: 60px;
  display: inline-block;
}

.valueImg {
  height: 60px;
  width: 50px;
  display: inline-block;
}

#wageredCardList {
  float: right;
  bottom:0px;
  font-size: 42px;
  width: 400px;
  height: 90%;
  position: absolute;
  float: left;
  background-color: lightgrey;
}

#wagerHeader {
  padding-bottom: 10px;
  margin: 0 auto;
}

#wagerContainer {
  width: 400px;
  display: block;
  position: absolute;
  height:300px;
  background-color: grey;
  text-align: center;
  padding-top: 10px;
  margin-right:0px;
  margin-top:10px;
}

#playerWagerList {
  vertical-align: top;
  width: 140px;
  height: 250px;
  position: static;
  display: inline-block;
  text-align: center;
  padding: 5px;
  padding-right: 15px;
  margin-right: 10px;
  background-color: white;
}

#oppoWagerList {
  vertical-align: top;
  width: 140px;
  height: 250px;
  position: static;
  display: inline-block;
  text-align: center;
  padding: 5px;
  padding-left: 15px;
  margin-left: 10px;
  background-color: white;
}

#stackList {
  background-color: white;
  font-size: 28px;
  margin-top: 30px;
  margin-right: 40px;
  width: 25%;
  height: 140px;
  float: right;
  overflow: scroll;
  margin-bottom: -20px;
}

#playerSuitImg {
  position: absolute;
  margin-left: -180px;
  margin-top: 20px;
  float: left;
  opacity: 1.0;
}

#oppoSuitImg {
  position: absolute;
  margin-left: 670px;
  margin-top: -240px;
  float: left;
  opacity: 1.0;
}

#playerSuitImg2 {
  position: absolute;
  margin-left: 565px;
  margin-top: -20px;
  float: left;
  opacity: 1.0;
}

#oppoSuitImg2 {
  position: absolute;
  margin-left: 780px;
  margin-top: -20px;
  float: left;
  opacity: 1.0;
}

#playerCardBox {
  margin-left: -200px;
}

#oppoCardBox {
  display: inline-block;
  position: absolute;
  margin-left: 660px;
  margin-top: -249px;
}

#playerValImg {
  margin-left: 0px;
  margin-top: 60%;
  opacity: 1.0;
}

#oppoValImg {
  opacity: 1.0;
  margin-left: 33%;
  margin-top: 60%;

}

#storeMenu {
    line-height: 6;
    text-align: center;
    display: none;
    float: right;
    width: 300px;
    height: 300px;
    background-color: black;
    margin-right: 101px;
    margin-top: -270px;
}

#storeThumbId {
    color: limegreen;
    background-color: black;
    margin-left: 85.5%;
    padding: 20px;
    border-radius: 0%;
    position: absolute;
    margin-top: 28px;
}

.item {
  margin-left: 5px;
  height:90px;
  width: 290px;
}

#powerup1 {
  background-color: limegreen;
  margin-top: 5px;
  margin-bottom: 10px;
}

#powerup2 {
  background-color: yellow;
  margin-bottom: 10px;
}

#powerup3 {
  background-color: red;
  margin-bottom: 5px;
}

#playerPointDisplay {
  border: solid;
  border-width: 5px;
  border-color: rgba(100, 100, 100, 1);
  height: 100px;
  width: 100px;
  position: absolute;
  margin-top: 30px;
  margin-left: 230px;
  background-color: limegreen;
  text-align: center;
  line-height: 6;
}

#pUps {
  position: absolute;
  color: red;
  text-align: center;
  line-height: 6.5;
}

#pUp1Button {
    vertical-align: center;

  background-color: white;
  height: 110px;
  width: 110px;
}

#pUp2Button {
  background-color: grey;
  height: 110px;
  width: 110px;
}

#pUp3Button {
  background-color: black;
  height: 110px;
  width: 110px;
}

#pointsHeader{
  padding-right: 30px;
  padding-left: 30px;
  color: #292929
;
}

.hidden {
  display: none;
}

.visible {
  display: inline-block;

}

#outcomeText {
    margin-left: 120px;
}

@media screen and (max-width: 980px) {
    #bottomBar {
        width: 94%;
    }
    #oppoCardBox {
        width: 120px;
        height: 180px;
    }
    #playerCardBox {
        width: 120px;
        height: 180px;
    }
}

@media screen and (max-width: 700px) {
    #content, #sidebar {
      width: auto;
      float: none;
    }
}

@media screen and (max-width: 480px) {
    #header {
      height: auto;
    }
    h1 {
      font-size: 24px;
    }
    #sidebar {
      display: none;
    }
}

/*  opacity: 0.6;
  cursor: not-allowed;*/
